body{
  font-family:georgia;
  font-size:14px;
  line-height:1.5em;
}

ul, ol {  //THERE MAY BE OTHER ELEMENTS IN THE LIST
  margin:0;
  padding:0;
}

.container{
  width:600;
  margin:0 auto;
}

a:link, a:visited {
  color: #000000;
}


.nav{
  text-align: center;
  border-bottom: 1px solid #eeeeee ;
  padding-bottom:10px;
  height:20px;
  width:100%;
}

.nav ul{
    text-align: center;
    margin:0 auto;
    padding:0;
    width:290;
}

.nav ul li{
  float:left;
  margin-left:20px;
}

.page-content{
  margin-top:10px;
}

li{
  margin: 2px 0;
}